In [27]:
import pandas as pd
import numpy as np

In [28]:
data=pd.read_csv("heart.csv")
df=pd.DataFrame(data)
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

Target: HeartDisease

input features : Age,Sex,ChestPainType,	RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope

Remove unwanted features that is not required to predict HeartDisease

In [29]:
df=df.drop(columns=["Age","Sex"],axis=1)
df

,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,ATA,130,283,0,ST,98,N,0.0,Up,0
3,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...
913,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [30]:
# identify missing values
df.isna().sum()

ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

There is no missing values.

In [31]:
df.dtypes

ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [32]:
# Encoding has to be done

from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df["ChestPainType"]=le.fit_transform(df["ChestPainType"])
df["RestingECG"]=le.fit_transform(df["RestingECG"])
df["ExerciseAngina"]=le.fit_transform(df["ExerciseAngina"])
df["ST_Slope"]=le.fit_transform(df["ST_Slope"])
df

,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,1,140,289,0,1,172,0,0.0,2,0
1,2,160,180,0,1,156,0,1.0,1,1
2,1,130,283,0,2,98,0,0.0,2,0
3,0,138,214,0,1,108,1,1.5,1,1
4,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...
913,3,110,264,0,1,132,0,1.2,1,1
914,0,144,193,1,1,141,0,3.4,1,1
915,0,130,131,0,1,115,1,1.2,1,1
916,1,130,236,0,0,174,0,0.0,1,1
917,2,138,175,0,1,173,0,0.0,2,0

In [33]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [34]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [35]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [36]:
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier()

knn=knn.fit(X_train,Y_train)

Y_pred=knn.predict(X_test)
Y_pred

array([1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0])

In [37]:
from sklearn.metrics import accuracy_score,confusion_matrix

print(accuracy_score(Y_pred,Y_test))
cm=confusion_matrix(Y_pred,Y_test)
cm

0.8840579710144928

array([[107,  15],
       [ 17, 137]])

Data Preprocessing Steps:
==========================

Handling missing values
outliers
data transform (Encoding)
scaling
data reduction

In [38]:
d={"name":["a","b","c"],
   "age":[2,3,4]}

df1=pd.DataFrame(d)
df1

  name  age
0    a    2
1    b    3
2    c    4