In [86]:
import pandas as pd
import numpy as np

In [87]:
data=pd.read_csv("hypothyroid.csv")
df=pd.DataFrame(data)
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,P
3768,68,F,f,f,f,f,f,f,f,f,...,t,124,t,1.08,t,114,f,?,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,...,t,112,t,1.07,t,105,f,?,other,P
3770,72,M,f,f,f,f,f,f,f,f,...,t,82,t,0.94,t,87,f,?,SVI,P
3771,64,F,f,f,f,f,f,f,f,f,...,t,99,t,1.07,t,92,f,?,other,P

In [88]:
df=df.replace("?",np.nan)

C:\Users\HP\AppData\Local\Temp\ipykernel_24168\3907011578.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace("?",np.nan)

In [89]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,NaN,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,NaN,f,NaN,f,NaN,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,NaN,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,NaN,f,NaN,f,NaN,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,NaN,SVI,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,f,NaN,f,NaN,f,NaN,f,NaN,other,P
3768,68,F,f,f,f,f,f,f,f,f,...,t,124,t,1.08,t,114,f,NaN,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,...,t,112,t,1.07,t,105,f,NaN,other,P
3770,72,M,f,f,f,f,f,f,f,f,...,t,82,t,0.94,t,87,f,NaN,SVI,P
3771,64,F,f,f,f,f,f,f,f,f,...,t,99,t,1.07,t,92,f,NaN,other,P

In [90]:
df=df.drop(columns=["age","sex"],axis=1)

In [91]:
df.isna().sum()

on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           369
T3 measured                     0
T3                            769
TT4 measured                    0
TT4                           231
T4U measured                    0
T4U                           387
FTI measured                    0
FTI                           385
TBG measured                    0
TBG                          3772
referral source                 0
binaryClass                     0
dtype: int64

In [92]:
df=df.drop(columns=["TBG"],axis=1)

In [93]:
df.dtypes

on thyroxine                 object
query on thyroxine           object
on antithyroid medication    object
sick                         object
pregnant                     object
thyroid surgery              object
I131 treatment               object
query hypothyroid            object
query hyperthyroid           object
lithium                      object
goitre                       object
tumor                        object
hypopituitary                object
psych                        object
TSH measured                 object
TSH                          object
T3 measured                  object
T3                           object
TT4 measured                 object
TT4                          object
T4U measured                 object
T4U                          object
FTI measured                 object
FTI                          object
TBG measured                 object
referral source              object
binaryClass                  object
dtype: object

In [94]:
df["TSH"]=df["TSH"].fillna(df["TSH"].mode()[0])
df["T3"]=df["T3"].fillna(df["T3"].mode()[0])
df["TT4"]=df["TT4"].fillna(df["TT4"].mode()[0])
df["T4U"]=df["T4U"].fillna(df["T4U"].mode()[0])
df["FTI"]=df["FTI"].fillna(df["FTI"].mode()[0])

In [95]:
df.isna().sum()

on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
referral source              0
binaryClass                  0
dtype: int64

In [96]:
from sklearn.preprocessing import LabelEncoder

Le=LabelEncoder()

for i in list(df):

    df[i]=Le.fit_transform(df[i])

In [97]:
df.dtypes

on thyroxine                 int64
query on thyroxine           int64
on antithyroid medication    int64
sick                         int64
pregnant                     int64
thyroid surgery              int64
I131 treatment               int64
query hypothyroid            int64
query hyperthyroid           int64
lithium                      int64
goitre                       int64
tumor                        int64
hypopituitary                int64
psych                        int64
TSH measured                 int64
TSH                          int64
T3 measured                  int64
T3                           int64
TT4 measured                 int64
TT4                          int64
T4U measured                 int64
T4U                          int64
FTI measured                 int64
FTI                          int64
TBG measured                 int64
referral source              int64
binaryClass                  int64
dtype: object

In [98]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]
X

,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source
0,0,0,0,0,0,0,0,0,0,0,...,1,27,1,28,1,72,1,10,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,22,1,3,0,57,0,1,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,22,1,10,1,48,1,22,0,4
3,1,0,0,0,0,0,0,0,0,0,...,1,20,1,83,0,57,0,1,0,4
4,0,0,0,0,0,0,0,0,0,0,...,1,12,1,201,1,44,1,199,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,0,0,0,0,0,0,0,0,0,0,...,0,22,0,2,0,57,0,1,0,4
3768,0,0,0,0,0,0,0,0,0,0,...,1,23,1,27,1,66,1,16,0,3
3769,0,0,0,0,0,0,0,0,1,0,...,1,19,1,14,1,65,1,6,0,4
3770,0,0,0,0,0,0,0,0,0,0,...,1,22,1,222,1,51,1,219,0,3
3771,0,0,0,0,0,0,0,0,0,0,...,1,24,1,240,1,65,1,226,0,4

In [99]:
Y

0       1
1       1
2       1
3       1
4       1
       ..
3767    1
3768    1
3769    1
3770    1
3771    1
Name: binaryClass, Length: 3772, dtype: int64

In [100]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [101]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)

X_test=scaler.transform(X_test)

In [102]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier(criterion="entropy")

model=model.fit(X_train,Y_train)

Y_pred=model.predict(X_test)

In [103]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,Y_pred))

0.9840989399293286