In [36]:
import pandas as pd
import numpy as np

In [37]:
data=pd.read_csv("Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset (1).csv")

df=pd.DataFrame(data)

df

,age,weight,height,exercise,sleep,sugar_intake,smoking,alcohol,married,profession,bmi,health_risk
0,56,67,195,low,6.1,medium,yes,yes,yes,office_worker,17.6,high
1,69,76,170,high,6.9,high,no,no,no,teacher,26.3,high
2,46,106,153,high,6.6,low,yes,no,no,artist,45.3,high
3,32,54,186,medium,8.5,medium,no,no,no,artist,15.6,low
4,60,98,195,high,8.0,low,no,no,yes,teacher,25.8,high
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,42,75,187,medium,7.2,low,no,no,yes,driver,21.4,low
4996,39,86,183,low,7.4,low,no,no,yes,engineer,25.7,high
4997,48,56,194,none,7.2,high,yes,yes,yes,engineer,14.9,high
4998,34,109,148,medium,9.9,medium,no,no,yes,doctor,49.8,low
4999,72,47,149,high,6.3,medium,no,no,yes,driver,21.2,low

In [38]:
df.isna().sum()

age             0
weight          0
height          0
exercise        0
sleep           0
sugar_intake    0
smoking         0
alcohol         0
married         0
profession      0
bmi             0
health_risk     0
dtype: int64

In [39]:
df.dtypes

age               int64
weight            int64
height            int64
exercise         object
sleep           float64
sugar_intake     object
smoking          object
alcohol          object
married          object
profession       object
bmi             float64
health_risk      object
dtype: object

In [40]:
df=df.drop(columns=["married"],axis=1)

df

,age,weight,height,exercise,sleep,sugar_intake,smoking,alcohol,profession,bmi,health_risk
0,56,67,195,low,6.1,medium,yes,yes,office_worker,17.6,high
1,69,76,170,high,6.9,high,no,no,teacher,26.3,high
2,46,106,153,high,6.6,low,yes,no,artist,45.3,high
3,32,54,186,medium,8.5,medium,no,no,artist,15.6,low
4,60,98,195,high,8.0,low,no,no,teacher,25.8,high
...,...,...,...,...,...,...,...,...,...,...,...
4995,42,75,187,medium,7.2,low,no,no,driver,21.4,low
4996,39,86,183,low,7.4,low,no,no,engineer,25.7,high
4997,48,56,194,none,7.2,high,yes,yes,engineer,14.9,high
4998,34,109,148,medium,9.9,medium,no,no,doctor,49.8,low
4999,72,47,149,high,6.3,medium,no,no,driver,21.2,low

In [41]:
df.dtypes

age               int64
weight            int64
height            int64
exercise         object
sleep           float64
sugar_intake     object
smoking          object
alcohol          object
profession       object
bmi             float64
health_risk      object
dtype: object

In [42]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

df["exercise"]=le.fit_transform(df["exercise"])
df["sugar_intake"]=le.fit_transform(df["sugar_intake"])
df["smoking"]=le.fit_transform(df["smoking"])
df["alcohol"]=le.fit_transform(df["alcohol"])
df["profession"]=le.fit_transform(df["profession"])
df["health_risk"]=le.fit_transform(df["health_risk"])

In [43]:
df.dtypes

age               int64
weight            int64
height            int64
exercise          int64
sleep           float64
sugar_intake      int64
smoking           int64
alcohol           int64
profession        int64
bmi             float64
health_risk       int64
dtype: object

In [44]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [45]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [46]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [47]:
from sklearn.naive_bayes import GaussianNB 

nb=GaussianNB()

nb=nb.fit(X_train,Y_train)

Y_pred=nb.predict(X_test)

In [48]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,Y_pred))

0.83