In [84]:
import pandas as pd
import numpy as np

In [85]:
data=pd.read_csv("medical_insurance.csv")
df=pd.DataFrame(data)
df

,person_id,age,sex,region,urban_rural,income,education,marital_status,employment_status,household_size,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,Female,North,Suburban,22700.0,Doctorate,Married,Retired,3,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,Female,North,Urban,12800.0,No HS,Married,Employed,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,Male,North,Rural,40700.0,HS,Married,Retired,5,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,Male,North,Suburban,15600.0,Some College,Married,Self-employed,5,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,Male,Central,Suburban,89600.0,Doctorate,Married,Self-employed,2,...,0,1,0,2,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6266,50,Male,West,Urban,127200.0,No HS,Married,Employed,2,...,0,0,0,0,0,1,0,0,0,0
99996,54887,42,Male,East,Suburban,21600.0,HS,Married,Employed,2,...,0,0,0,0,0,0,0,0,0,0
99997,76821,41,Male,West,Rural,81900.0,HS,Divorced,Unemployed,1,...,0,0,0,1,0,1,0,0,0,0
99998,861,51,Female,South,Urban,43400.0,Doctorate,Single,Unemployed,3,...,0,0,1,0,0,2,2,1,0,0
99999,15796,44,Female,South,Rural,43700.0,Some College,Married,Employed,2,...,0,0,0,0,0,1,1,1,0,0

In [86]:
df=df.drop(columns=["person_id","sex","region","education"],axis=1)
df

,age,urban_rural,income,marital_status,employment_status,household_size,dependents,bmi,smoker,alcohol_freq,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,52,Suburban,22700.0,Married,Retired,3,1,27.4,Never,NaN,...,0,1,0,1,0,2,0,1,0,0
1,79,Urban,12800.0,Married,Employed,3,1,26.6,Never,Weekly,...,0,1,1,0,0,1,0,1,1,0
2,68,Rural,40700.0,Married,Retired,5,3,31.5,Never,NaN,...,0,0,1,1,0,2,1,0,1,0
3,15,Suburban,15600.0,Married,Self-employed,5,3,31.6,Never,NaN,...,0,0,0,1,0,0,1,0,0,0
4,53,Suburban,89600.0,Married,Self-employed,2,0,30.5,Never,Daily,...,0,1,0,2,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,50,Urban,127200.0,Married,Employed,2,0,28.2,Never,Occasional,...,0,0,0,0,0,1,0,0,0,0
99996,42,Suburban,21600.0,Married,Employed,2,0,27.6,Never,Occasional,...,0,0,0,0,0,0,0,0,0,0
99997,41,Rural,81900.0,Divorced,Unemployed,1,0,29.8,Former,Weekly,...,0,0,0,1,0,1,0,0,0,0
99998,51,Urban,43400.0,Single,Unemployed,3,2,21.9,Never,Occasional,...,0,0,1,0,0,2,2,1,0,0
99999,44,Rural,43700.0,Married,Employed,2,0,29.2,Never,NaN,...,0,0,0,0,0,1,1,1,0,0

In [87]:
df.isna().sum()

age                                0
urban_rural                        0
income                             0
marital_status                     0
employment_status                  0
household_size                     0
dependents                         0
bmi                                0
smoker                             0
alcohol_freq                   30083
visits_last_year                   0
hospitalizations_last_3yrs         0
days_hospitalized_last_3yrs        0
medication_count                   0
systolic_bp                        0
diastolic_bp                       0
ldl                                0
hba1c                              0
plan_type                          0
network_tier                       0
deductible                         0
copay                              0
policy_term_years                  0
policy_changes_last_2yrs           0
provider_quality                   0
risk_score                         0
annual_medical_cost                0
annual_premium                     0
monthly_premium                    0
claims_count                       0
avg_claim_amount                   0
total_claims_paid                  0
chronic_count                      0
hypertension                       0
diabetes                           0
asthma                             0
copd                               0
cardiovascular_disease             0
cancer_history                     0
kidney_disease                     0
liver_disease                      0
arthritis                          0
mental_health                      0
proc_imaging_count                 0
proc_surgery_count                 0
proc_physio_count                  0
proc_consult_count                 0
proc_lab_count                     0
is_high_risk                       0
had_major_procedure                0
dtype: int64

In [88]:
df.dtypes

age                              int64
urban_rural                     object
income                         float64
marital_status                  object
employment_status               object
household_size                   int64
dependents                       int64
bmi                            float64
smoker                          object
alcohol_freq                    object
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                    float64
diastolic_bp                   float64
ldl                            float64
hba1c                          float64
plan_type                       object
network_tier                    object
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

In [89]:
df["alcohol_freq"]=df["alcohol_freq"].fillna(df["alcohol_freq"].mode()[0])

In [90]:
df.isna().sum()

age                            0
urban_rural                    0
income                         0
marital_status                 0
employment_status              0
household_size                 0
dependents                     0
bmi                            0
smoker                         0
alcohol_freq                   0
visits_last_year               0
hospitalizations_last_3yrs     0
days_hospitalized_last_3yrs    0
medication_count               0
systolic_bp                    0
diastolic_bp                   0
ldl                            0
hba1c                          0
plan_type                      0
network_tier                   0
deductible                     0
copay                          0
policy_term_years              0
policy_changes_last_2yrs       0
provider_quality               0
risk_score                     0
annual_medical_cost            0
annual_premium                 0
monthly_premium                0
claims_count                   0
avg_claim_amount               0
total_claims_paid              0
chronic_count                  0
hypertension                   0
diabetes                       0
asthma                         0
copd                           0
cardiovascular_disease         0
cancer_history                 0
kidney_disease                 0
liver_disease                  0
arthritis                      0
mental_health                  0
proc_imaging_count             0
proc_surgery_count             0
proc_physio_count              0
proc_consult_count             0
proc_lab_count                 0
is_high_risk                   0
had_major_procedure            0
dtype: int64

In [91]:
df.dtypes

age                              int64
urban_rural                     object
income                         float64
marital_status                  object
employment_status               object
household_size                   int64
dependents                       int64
bmi                            float64
smoker                          object
alcohol_freq                    object
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                    float64
diastolic_bp                   float64
ldl                            float64
hba1c                          float64
plan_type                       object
network_tier                    object
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

In [92]:
from sklearn.preprocessing import LabelEncoder

Le=LabelEncoder()

for i in list(df):

    if df[i].dtypes == 'object':

        df[i]=Le.fit_transform(df[i].astype(str))

In [93]:
df.dtypes

age                              int64
urban_rural                      int64
income                         float64
marital_status                   int64
employment_status                int64
household_size                   int64
dependents                       int64
bmi                            float64
smoker                           int64
alcohol_freq                     int64
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                    float64
diastolic_bp                   float64
ldl                            float64
hba1c                          float64
plan_type                        int64
network_tier                     int64
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

In [94]:
Y=df.iloc[:,48]
df=df.drop(columns=["is_high_risk"],axis=1)

X=df

In [95]:
X

,age,urban_rural,income,marital_status,employment_status,household_size,dependents,bmi,smoker,alcohol_freq,...,kidney_disease,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,had_major_procedure
0,52,1,22700.0,1,1,3,1,27.4,2,1,...,0,0,1,0,1,0,2,0,1,0
1,79,2,12800.0,1,0,3,1,26.6,2,2,...,0,0,1,1,0,0,1,0,1,0
2,68,0,40700.0,1,1,5,3,31.5,2,1,...,0,0,0,1,1,0,2,1,0,0
3,15,1,15600.0,1,2,5,3,31.6,2,1,...,0,0,0,0,1,0,0,1,0,0
4,53,1,89600.0,1,2,2,0,30.5,2,0,...,0,0,1,0,2,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,50,2,127200.0,1,0,2,0,28.2,2,1,...,0,0,0,0,0,0,1,0,0,0
99996,42,1,21600.0,1,0,2,0,27.6,2,1,...,0,0,0,0,0,0,0,0,0,0
99997,41,0,81900.0,0,3,1,0,29.8,1,2,...,0,0,0,0,1,0,1,0,0,0
99998,51,2,43400.0,2,3,3,2,21.9,2,1,...,0,0,0,1,0,0,2,2,1,0
99999,44,0,43700.0,1,0,2,0,29.2,2,1,...,0,0,0,0,0,0,1,1,1,0

In [96]:
Y

0        0
1        1
2        1
3        0
4        1
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: is_high_risk, Length: 100000, dtype: int64

In [97]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [98]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [99]:
from sklearn.neighbors import KNeighborsClassifier


knn=KNeighborsClassifier()

knn=knn.fit(X_train,Y_train)

Y_pred=knn.predict(X_test)

In [100]:
# from sklearn.naive_bayes import GaussianNB

# nb=GaussianNB()

# nb=nb.fit(X_train,Y_train)

# Y_pred=nb.predict(X_test)

In [101]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,Y_pred))

0.8838666666666667

Using Knn >> Accuracy >> o.88

Using Naive Bayes  >>> Accuracy  >> 0.83