In [36]:
import pandas
import numpy

In [37]:
data=pandas.read_csv("health_lifestyle_dataset.csv")

df=pandas.DataFrame(data)

df

,id,age,gender,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,1,56,Male,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,2,69,Female,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,3,46,Male,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,4,32,Female,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,5,60,Female,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,53,Male,33.1,4726,3.9,2.0,3118,0,1,56,105,76,282,0,0
99996,99997,22,Male,35.1,11554,4.5,3.1,1967,0,0,51,149,77,192,0,0
99997,99998,37,Male,18.9,3924,3.8,1.0,2328,0,0,69,92,117,218,0,0
99998,99999,72,Female,27.8,16110,5.6,0.8,3093,0,0,93,164,72,188,0,0
99999,100000,37,Male,35.4,8222,9.1,1.8,3942,0,1,71,145,80,276,0,1

In [38]:
df.isna().sum()

id                   0
age                  0
gender               0
bmi                  0
daily_steps          0
sleep_hours          0
water_intake_l       0
calories_consumed    0
smoker               0
alcohol              0
resting_hr           0
systolic_bp          0
diastolic_bp         0
cholesterol          0
family_history       0
disease_risk         0
dtype: int64

In [39]:
# to find the percentage of missing values

(df.isna().sum()/len(df))*100

# df.isna() used to find if there is any missing value

# df.fillna() used to fill the missing values

# df.dropna() used to drop the rows with missing values

id                   0.0
age                  0.0
gender               0.0
bmi                  0.0
daily_steps          0.0
sleep_hours          0.0
water_intake_l       0.0
calories_consumed    0.0
smoker               0.0
alcohol              0.0
resting_hr           0.0
systolic_bp          0.0
diastolic_bp         0.0
cholesterol          0.0
family_history       0.0
disease_risk         0.0
dtype: float64

In [40]:
# find the average of bmi

#df["bmi"].mean()

In [41]:
# maximum and minimum dailtsteps

#print(df["daily_steps"].min())
#print(df["daily_steps"].max())

.loc
=======

loc is a label based selector that lets you select specific rows and coloumns from your dataframe
It takes two arguments: row selector and column selector
These selectors can be labels, lists of labels, slices, or boolean masks
It returns the subset of the DataFrame matching those rows and columns

syntax: df.loc[row_Selector,coloumn_selector]

example: df.loc[['b', 'd'], ['name', 'city']] 
          what it does is that it selects rows b,d from a dataframe and selects coloumns name and city from the dataframe



example : df.loc[df["age"]>40,["age","gender","bmi"]]
         this is condition based selection where the rows are selected based on the condition "df["age"]>40" and specific coloumns "["age","gender","bmi"]" are selected

In [42]:
# select age gender bmi of people with age greater than 40

#df[(df["age"]>40)][["age","gender","bmi"]]

#df.loc[df["age"]>40,["age","gender","bmi"]]

In [43]:
# select gender daily_steps sleep_hours where sleep_hours less than 6

#df.loc[df["sleep_hours"]<6,["gender","daily_steps","sleep_hours"]]

In [44]:
# display age , bmi, calories_consumed where bmi > 30

#df.loc[df["bmi"]>30,["age","bmi","calories_consumed"]]

In [45]:
# display age, daily_steps,calories consumed for smoker(smoker=1)

#df.loc[df["smoker"]==1,["age","daily_steps","calories_consumed"]]

In [46]:
# display age,daily_steps,bmi of people having bmi above 28 and disease==1

#df.loc[(df["bmi"]>28) & (df["disease_risk"]==1),["age","daily_steps","bmi"]]

In [47]:
# display age, daily_steps,bmi of people having bmi above 28 or smoker=1


#df.loc[(df["bmi"]>28) | (df["smoker"]==1),["age","daily_steps","bmi"]]

In [48]:
# display daily_steps,cholesterol,bmi of people having smoker=1 and alcohol=1


#df.loc[(df["smoker"]==1) & (df["alcohol"]==1),["daily_steps","cholesterol","bmi"]]

In [49]:
# display age,daily_steps ,cholesterol of people having resting_hr above 90 and systolic_bp > 150

                                                            

#df.loc[(df["resting_hr"]>90) | (df["systolic_bp"] > 150),["age","daily_steps","cholesterol"]]

In [50]:
df

,id,age,gender,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,1,56,Male,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,2,69,Female,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,3,46,Male,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,4,32,Female,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,5,60,Female,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,53,Male,33.1,4726,3.9,2.0,3118,0,1,56,105,76,282,0,0
99996,99997,22,Male,35.1,11554,4.5,3.1,1967,0,0,51,149,77,192,0,0
99997,99998,37,Male,18.9,3924,3.8,1.0,2328,0,0,69,92,117,218,0,0
99998,99999,72,Female,27.8,16110,5.6,0.8,3093,0,0,93,164,72,188,0,0
99999,100000,37,Male,35.4,8222,9.1,1.8,3942,0,1,71,145,80,276,0,1

In [51]:
df=df.drop("id",axis=1)
df=df.drop("age",axis=1)
df=df.drop("gender",axis=1)
df

,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,33.1,4726,3.9,2.0,3118,0,1,56,105,76,282,0,0
99996,35.1,11554,4.5,3.1,1967,0,0,51,149,77,192,0,0
99997,18.9,3924,3.8,1.0,2328,0,0,69,92,117,218,0,0
99998,27.8,16110,5.6,0.8,3093,0,0,93,164,72,188,0,0
99999,35.4,8222,9.1,1.8,3942,0,1,71,145,80,276,0,1

In [52]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]
X

,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history
0,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0
1,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0
2,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0
3,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0
4,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,33.1,4726,3.9,2.0,3118,0,1,56,105,76,282,0
99996,35.1,11554,4.5,3.1,1967,0,0,51,149,77,192,0
99997,18.9,3924,3.8,1.0,2328,0,0,69,92,117,218,0
99998,27.8,16110,5.6,0.8,3093,0,0,93,164,72,188,0
99999,35.4,8222,9.1,1.8,3942,0,1,71,145,80,276,0

In [53]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    1
Name: disease_risk, Length: 100000, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [55]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test) 

X_train

array([[-0.61937907,  0.72345316, -0.34206059, ..., -1.70003074,
        -0.76275328, -0.65472047],
       [-0.49333388, -0.56562178,  0.69541269, ...,  0.31627334,
         0.25247423, -0.65472047],
       [ 1.60216734, -0.3131414 ,  1.1400441 , ...,  1.06518629,
         0.39091434, -0.65472047],
       ...,
       [ 0.6095615 ,  0.39351136, -1.28072688, ...,  0.20105597,
         1.72916879, -0.65472047],
       [ 0.16840335,  0.92021247,  0.94243014, ...,  0.89236023,
        -0.34743294,  1.52736938],
       [ 0.26293724,  0.26745386, -1.33013037, ..., -0.14459616,
        -0.83197334,  1.52736938]], shape=(70000, 12))

In [56]:
X_test

array([[ 1.55490039, -0.95384234,  0.05316733, ...,  1.06518629,
         0.8985281 , -0.65472047],
       [-1.40716148, -0.3635644 ,  0.89302665, ...,  0.60431679,
         1.31384844, -0.65472047],
       [-0.61937907,  0.75853003,  1.53527201, ..., -0.77829173,
        -1.52417392, -0.65472047],
       ...,
       [ 0.49927196,  1.07696223, -1.42893735, ...,  0.31627334,
        -0.09362606, -0.65472047],
       [-0.27275481,  0.82667416, -1.57714782, ...,  0.94996892,
         0.22940087, -0.65472047],
       [ 0.29444853, -1.64551435,  0.30018478, ...,  1.12279498,
        -1.68568738,  1.52736938]], shape=(30000, 12))

In [57]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn=knn.fit(X_train,Y_train)

y_pred=knn.predict(X_test)  

print(y_pred)

[0 0 0 ... 0 0 0]

In [58]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred,Y_test))

0.7001