In [72]:
import pandas as pd
import numpy as np

In [73]:
data=pd.read_csv("seattle-weather.csv")
df=pd.DataFrame(data)
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [74]:
df.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [75]:
df.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [76]:
from sklearn.preprocessing import LabelEncoder

Le=LabelEncoder()

df["date"]=Le.fit_transform(df["date"])
df["weather"]=Le.fit_transform(df["weather"])

In [77]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [78]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [79]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [80]:
from sklearn.naive_bayes import GaussianNB

nb=GaussianNB()

nb=nb.fit(X_train,Y_train)

Y_pred=nb.predict(X_test)

In [81]:
# from sklearn.neighbors import KNeighborsClassifier

# knn=KNeighborsClassifier()

# knn=knn.fit(X_train,Y_train)

# Y_pred=knn.predict(X_test)

In [82]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,Y_pred))

0.8428246013667426

Using Knn algorithm >> Accuracy score == 0.69

Using Naive bayes Algorithm >>> Accuracy score = 0.83