In [107]:
import pandas as pd
import numpy as np

In [108]:
data=pd.read_csv("loan_train.csv")
df=pd.DataFrame(data)
df

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

Target : Status
Input Features : Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area

In [109]:
df=df.drop(columns=["Gender","Education"],axis=1)
df

,Married,Dependents,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,No,0,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Yes,1,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Yes,0,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Yes,0,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,No,0,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...
609,No,0,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Yes,3+,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Yes,1,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Yes,2,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,No,0,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [110]:
df.isna().sum()

Married                3
Dependents            15
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [111]:
df.dtypes

Married                object
Dependents             object
Self_Employed          object
Applicant_Income        int64
Coapplicant_Income    float64
Loan_Amount             int64
Term                  float64
Credit_History        float64
Area                   object
Status                 object
dtype: object

In [112]:
df["Married"]=df["Married"].fillna(df["Married"].mode()[0])
df.isna().sum()

Married                0
Dependents            15
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [113]:
df["Dependents"]=df["Dependents"].fillna(df["Dependents"].mode()[0])
df.isna().sum()

Married                0
Dependents             0
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [114]:
df["Self_Employed"]=df["Self_Employed"].fillna(df["Self_Employed"].mode()[0])
df.isna().sum()

Married                0
Dependents             0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [115]:
df["Term"]=df["Term"].fillna(df["Term"].mean())
df.isna().sum()

Married                0
Dependents             0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                   0
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [116]:
df["Credit_History"]=df["Credit_History"].fillna(df["Credit_History"].mean())
df.isna().sum()

Married               0
Dependents            0
Self_Employed         0
Applicant_Income      0
Coapplicant_Income    0
Loan_Amount           0
Term                  0
Credit_History        0
Area                  0
Status                0
dtype: int64

In [117]:
df

,Married,Dependents,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,No,0,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Yes,1,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Yes,0,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Yes,0,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,No,0,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...
609,No,0,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Yes,3+,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Yes,1,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Yes,2,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,No,0,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [118]:
df.dtypes

Married                object
Dependents             object
Self_Employed          object
Applicant_Income        int64
Coapplicant_Income    float64
Loan_Amount             int64
Term                  float64
Credit_History        float64
Area                   object
Status                 object
dtype: object

In [119]:
from sklearn.preprocessing import LabelEncoder

Le=LabelEncoder()

df["Married"]=Le.fit_transform(df["Married"])
df["Dependents"]=Le.fit_transform(df["Dependents"])
df["Self_Employed"]=Le.fit_transform(df["Self_Employed"])
df["Area"]=Le.fit_transform(df["Area"])
df["Status"]=Le.fit_transform(df["Status"])
df.dtypes

Married                 int64
Dependents              int64
Self_Employed           int64
Applicant_Income        int64
Coapplicant_Income    float64
Loan_Amount             int64
Term                  float64
Credit_History        float64
Area                    int64
Status                  int64
dtype: object

In [120]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [121]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [122]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [123]:
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier()

model=knn.fit(X_train,Y_train)

Y_pred=knn.predict(X_test)
Y_pred

array([1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1])

In [124]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_pred,Y_test))

0.8162162162162162