In [45]:
import pandas
import numpy

In [46]:
data=pandas.read_csv("synthetic_dataset.csv")

df=pandas.DataFrame(data)
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In this dataset we can choose Rating as our predicting value 
And Category,Price,Stock,Discount as the features value

We chose rating as our prediction value because

In [47]:
df.isna().sum()

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [48]:
df=df.drop("Category",axis=1) # Remove the coloumn Category as category is not important in finding the rating of the product. 
                              # The rating could be calculated using discount,price,stock. And also category has more than 50% missing values
                              # So it is better to completely remove the coloumn
                              # axis=1 means coloumn and axis=0 means row
df

       Price    Rating         Stock  Discount
0     5548.0  1.870322           NaN       0.0
1     3045.0  4.757798           NaN      38.0
2     4004.0       NaN      In Stock       0.0
3     4808.0  1.492085           NaN      33.0
4     1817.0       NaN  Out of Stock      23.0
...      ...       ...           ...       ...
4357  4436.0  4.728335           NaN      49.0
4358  6236.0       NaN  Out of Stock       4.0
4359  3283.0       NaN  Out of Stock       9.0
4360  2999.0  4.425995           NaN      40.0
4361     NaN  2.184471           NaN       0.0

[4362 rows x 4 columns]

In [49]:
df.isna().sum()

Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [ ]:
df=df.dropna(subset=["Rating"]) # drop the rows which has missing values for rating coloumn. because rating is our target value(so it cannot be removed completely)
                                # and has almost 50% missing values(so it is not ideal to fill these values with anything as it may reduce accuracy of model).  
df

       Price    Rating         Stock  Discount
0     5548.0  1.870322           NaN       0.0
1     3045.0  4.757798           NaN      38.0
3     4808.0  1.492085           NaN      33.0
6      667.0  3.668341      In Stock      41.0
7     7125.0  4.983998  Out of Stock       7.0
...      ...       ...           ...       ...
4352  8230.0  2.410736  Out of Stock      29.0
4354  1556.0  1.433035      In Stock       NaN
4357  4436.0  4.728335           NaN      49.0
4360  2999.0  4.425995           NaN      40.0
4361     NaN  2.184471           NaN       0.0

[2312 rows x 4 columns]

In [51]:
df.isna().sum()

Price        87
Rating        0
Stock       702
Discount    210
dtype: int64

In [52]:
df["Price"]=df["Price"].fillna(df["Price"].mean())
df.isna().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_16784\171980821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Price"]=df["Price"].fillna(df["Price"].mean())

Price         0
Rating        0
Stock       702
Discount    210
dtype: int64

In [53]:
df["Discount"]=df["Discount"].fillna(df["Discount"].mean())
df.isna().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_16784\814305057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Discount"]=df["Discount"].fillna(df["Discount"].mean())

Price         0
Rating        0
Stock       702
Discount      0
dtype: int64

In [54]:
df["Stock"]=df["Stock"].fillna(df["Stock"].mode()[0])
df.isna().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_16784\3440324796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Stock"]=df["Stock"].fillna(df["Stock"].mode()[0])

Price       0
Rating      0
Stock       0
Discount    0
dtype: int64

In [55]:
df

            Price    Rating         Stock   Discount
0     5548.000000  1.870322      In Stock   0.000000
1     3045.000000  4.757798      In Stock  38.000000
3     4808.000000  1.492085      In Stock  33.000000
6      667.000000  3.668341      In Stock  41.000000
7     7125.000000  4.983998  Out of Stock   7.000000
...           ...       ...           ...        ...
4352  8230.000000  2.410736  Out of Stock  29.000000
4354  1556.000000  1.433035      In Stock  24.464795
4357  4436.000000  4.728335      In Stock  49.000000
4360  2999.000000  4.425995      In Stock  40.000000
4361  5042.638652  2.184471      In Stock   0.000000

[2312 rows x 4 columns]

In [ ]:
# To change the object type data in Stock coloumn to numerical values so that we can train the machine
# This is called ENCODING
#                ========

df["Stock"]=df["Stock"].map({"In Stock":0,"Out of Stock":1})
df

C:\Users\HP\AppData\Local\Temp\ipykernel_16784\3183248810.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Stock"]=df["Stock"].map({"In Stock":0,"Out of Stock":1})

            Price    Rating  Stock   Discount
0     5548.000000  1.870322      0   0.000000
1     3045.000000  4.757798      0  38.000000
3     4808.000000  1.492085      0  33.000000
6      667.000000  3.668341      0  41.000000
7     7125.000000  4.983998      1   7.000000
...           ...       ...    ...        ...
4352  8230.000000  2.410736      1  29.000000
4354  1556.000000  1.433035      0  24.464795
4357  4436.000000  4.728335      0  49.000000
4360  2999.000000  4.425995      0  40.000000
4361  5042.638652  2.184471      0   0.000000

[2312 rows x 4 columns]

In [ ]:
# Now that all the misiing values have been filled and encoding is done
# The next step is to bring all the coloumn values to a similar range
# This step is called SCALING
#                     =======

# Scaling >>> Getting all numerical values in each coloumn and convert them into similar range
# 
# Scaling can be done in two ways : 
# 
#  1) standard scaler
#     ===============
# Equation:
#   Z=(X-mean)/standard deviation


#  2) min max scaler
#     ==============

Machine Learning
================

ML is teaching computers to learn from data
(just like humans learn from experience)

Here we train based on a dataset

Machine Learning are of three types
===================================

1) Supervised Learning
2) Unsupervised Learning
3) Reinforcement Learning


Supervised Learning
===================

The given dataset having both input features and result

Supervised Learning has two types:
=================================

Classification algorithms:
=========================
>>KNN (Using distance formula)
>>Naive Bayes (Bayes theorem >> probability)
>>SVM (Support Vector Machines)
>>Decision Tree
>>Random Forest

Regression Algorithms:
=====================
Used to predict a numerical and continous values

Algorithms
==========

1) Linear Regression
2) Multiple linear regression
3) Polynomial regression