In [1]:
import pandas as pd
import numpy as np

In [16]:
data=pd.read_csv("cars.csv")
df=pd.DataFrame(data)
df_copy=df
df

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mercedes,C-Class,2019,22000,Diesel,Automatic,First,16,1950,191,5,2900000
96,97,Toyota,Innova Crysta,2017,38000,Diesel,Manual,Second,13,2755,171,7,1400000
97,98,Ford,EcoSport,2018,26000,Petrol,Manual,Third,18,1497,121,5,750000
98,99,Hyundai,Verna,2019,24000,Petrol,Automatic,Second,17,1497,113,5,850000
99,100,Tata,Altroz,2020,18000,Petrol,Manual,First,20,1199,85,5,600000

In [3]:
df=df.drop(columns=["Car_ID"],axis=1)
df

,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Mercedes,C-Class,2019,22000,Diesel,Automatic,First,16,1950,191,5,2900000
96,Toyota,Innova Crysta,2017,38000,Diesel,Manual,Second,13,2755,171,7,1400000
97,Ford,EcoSport,2018,26000,Petrol,Manual,Third,18,1497,121,5,750000
98,Hyundai,Verna,2019,24000,Petrol,Automatic,Second,17,1497,113,5,850000
99,Tata,Altroz,2020,18000,Petrol,Manual,First,20,1199,85,5,600000

In [5]:
df.isna().sum()

Brand                0
Model                0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [6]:
df.dtypes

Brand                object
Model                object
Year                  int64
Kilometers_Driven     int64
Fuel_Type            object
Transmission         object
Owner_Type           object
Mileage               int64
Engine                int64
Power                 int64
Seats                 int64
Price                 int64
dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

# for i in list(df):

#     if df[i]=='object':

#         df[i]=le.fit_transform(df[i].astype(str))

df["Brand"]=le.fit_transform(df["Brand"])
df["Model"]=le.fit_transform(df["Model"])
df["Fuel_Type"]=le.fit_transform(df["Fuel_Type"])
df["Transmission"]=le.fit_transform(df["Transmission"])
df["Owner_Type"]=le.fit_transform(df["Owner_Type"])

In [9]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [11]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()

lr=lr.fit(X_train,Y_train)
Y_pred=lr.predict(X_test)
Y_pred

array([3212602.58363289,  159705.95245049, 1044534.53625344,
       2004472.47039895,  247952.36791059, 2542459.63735748,
        324399.99359869,  506910.9355675 , 1371928.37397372,
       1912938.36671508, 1878538.46794383, 1371928.37397372,
       2439509.76498001,  625733.03675741, 2168424.20327998,
       2423122.66903591,  324399.99359869,  247952.36791059,
       2562242.40475238, 1676528.11988782,  249582.01175318,
       3002102.69770261, 1188510.12831215,  215683.55593065,
       1399496.67598429, 1634820.30908557,  249582.01175318,
        664125.44429507, 1567109.30201294, 2193769.46233611])

In [13]:
print(lr.coef_)
print(lr.intercept_)

[ -65904.43000515 -113866.8584423   -66009.31261401 -185833.8785371
 -231714.27376462 -284592.18940862  -44056.0470418  -135069.35251839
  -93517.83854656  624003.74155794   63936.13216768]
1633571.4285714286

In [15]:
df

,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,9,15,2018,50000,1,1,0,15,1498,108,5,800000
1,3,14,2019,40000,1,0,1,17,1597,140,5,1000000
2,2,30,2017,20000,1,0,0,10,4951,395,4,2500000
3,6,42,2020,30000,0,1,2,23,1248,74,5,600000
4,4,41,2016,60000,0,0,1,18,1999,194,5,850000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,7,11,2019,22000,0,0,0,16,1950,191,5,2900000
96,9,29,2017,38000,0,1,1,13,2755,171,7,1400000
97,2,18,2018,26000,1,1,2,18,1497,121,5,750000
98,4,50,2019,24000,1,0,1,17,1497,113,5,850000
99,8,7,2020,18000,1,1,0,20,1199,85,5,600000

In [17]:
df_copy

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mercedes,C-Class,2019,22000,Diesel,Automatic,First,16,1950,191,5,2900000
96,97,Toyota,Innova Crysta,2017,38000,Diesel,Manual,Second,13,2755,171,7,1400000
97,98,Ford,EcoSport,2018,26000,Petrol,Manual,Third,18,1497,121,5,750000
98,99,Hyundai,Verna,2019,24000,Petrol,Automatic,Second,17,1497,113,5,850000
99,100,Tata,Altroz,2020,18000,Petrol,Manual,First,20,1199,85,5,600000

In [30]:
test={"Brand":"Toyota","Model":"Corolla","Year":2020,"Kilometers_Driven":80000,"Fuel_Type":"Petrol","Transmission":"Manual","Owner_Type":"Second","Mileage":15,"Engine":1498,"Power":109,"Seats":5}

test_df=pd.DataFrame(test,index=[0])
test_df

,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Toyota,Corolla,2020,80000,Petrol,Manual,Second,15,1498,109,5

In [31]:
for i in list(test_df):
    if test_df[i].dtypes == 'object':
        test_df[i]=le.fit_transform(test_df[i].astype(str))

In [32]:
test_df.dtypes

Brand                int64
Model                int64
Year                 int64
Kilometers_Driven    int64
Fuel_Type            int64
Transmission         int64
Owner_Type           int64
Mileage              int64
Engine               int64
Power                int64
Seats                int64
dtype: object

In [33]:
test_df=scaler.transform(test_df)

In [34]:
print(f"Price of the car is : {lr.predict(test_df)}")

Price of the car is : [1030025.23541502]