In [1]:
import pandas
import numpy

In [6]:
data=pandas.read_csv("heart.csv")
df=pandas.DataFrame(data)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212,0,NaN,168.0,0,1.0,2,2.0,3.0,0
1,53,1,0,140.0,203,1,0.0,155.0,1,3.1,0,0.0,3.0,0
2,70,1,0,145.0,174,0,1.0,125.0,1,2.6,0,0.0,3.0,0
3,61,1,0,148.0,203,0,1.0,NaN,0,0.0,2,1.0,3.0,0
4,62,0,0,138.0,294,1,1.0,106.0,0,1.9,1,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221,0,1.0,164.0,1,0.0,2,0.0,2.0,1
1021,60,1,0,125.0,258,0,0.0,141.0,1,2.8,1,1.0,3.0,0
1022,47,1,0,110.0,275,0,0.0,118.0,1,1.0,1,1.0,2.0,0
1023,50,0,0,110.0,254,0,0.0,159.0,0,0.0,2,0.0,2.0,1
1024,54,1,0,120.0,188,0,1.0,113.0,0,1.4,1,1.0,3.0,0

In [7]:
# display the first 5 rows

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212,0,NaN,168.0,0,1.0,2,2.0,3.0,0
1,53,1,0,140.0,203,1,0.0,155.0,1,3.1,0,0.0,3.0,0
2,70,1,0,145.0,174,0,1.0,125.0,1,2.6,0,0.0,3.0,0
3,61,1,0,148.0,203,0,1.0,NaN,0,0.0,2,1.0,3.0,0
4,62,0,0,138.0,294,1,1.0,106.0,0,1.9,1,3.0,2.0,0

In [8]:
# Show the shape of dataset

df.shape

(1025, 14)

In [9]:
# Get coloumn names and their datatypes
print(df.dtypes)
print(df.columns)

age           int64
sex           int64
cp            int64
trestbps    float64
chol          int64
fbs           int64
restecg     float64
thalach     float64
exang         int64
oldpeak     float64
slope         int64
ca          float64
thal        float64
target        int64
dtype: object
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [10]:
# find the total number of missing values from each coloumns 

df.isna().sum()

age         0
sex         0
cp          0
trestbps    1
chol        0
fbs         0
restecg     1
thalach     1
exang       0
oldpeak     0
slope       0
ca          2
thal        1
target      0
dtype: int64

In [11]:
# basic statistics of each numerical coloumns

df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1024.000000,1025.00000,1025.000000,1024.000000,1024.000000,1025.000000,1025.000000,1025.000000,1023.000000,1024.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.603516,246.00000,0.149268,0.529297,149.102539,0.336585,1.071512,1.385366,0.752688,2.324219,0.513171
std,9.072290,0.460373,1.029641,17.523313,51.59251,0.356527,0.527931,23.013962,0.472772,1.175053,0.617755,1.029140,0.620881,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [12]:
# fill the missing values

df["trestbps"].fillna(df["trestbps"].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14672\4274509978.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["trestbps"].fillna(df["trestbps"].mean(),inplace=True)

In [13]:
df["restecg"].fillna(df["restecg"].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14672\3127065450.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["restecg"].fillna(df["restecg"].mean(),inplace=True)

In [14]:
df["thalach"].fillna(df["thalach"].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14672\454367948.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["thalach"].fillna(df["thalach"].mean(),inplace=True)

In [15]:
df["ca"].fillna(df["ca"].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14672\185508499.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ca"].fillna(df["ca"].mean(),inplace=True)

In [16]:
df["thal"].fillna(df["thal"].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14672\353245745.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["thal"].fillna(df["thal"].mean(),inplace=True)

While filling missing values keep in mind,

if the total number of missing values is 300,400,500 or any value greater then it is not possible to fill these missing values. Even if we fill the missing values with mean,mode, or anything and train the model with these values then the final models prediction would be wrong and least accurate.

In such cases it is better to delete that coloumn from the dataset

if there are only few missing values we can fill these missing values with fillna() method and fill these with mean,mode,median

In [17]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [18]:
# display the patients (sex=1) elder than 50 years

df[(df["sex"]==1) & (df["age"]>50)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212,0,0.529297,168.000000,0,1.0,2,2.000000,3.0,0
1,53,1,0,140.0,203,1,0.000000,155.000000,1,3.1,0,0.000000,3.0,0
2,70,1,0,145.0,174,0,1.000000,125.000000,1,2.6,0,0.000000,3.0,0
3,61,1,0,148.0,203,0,1.000000,149.102539,0,0.0,2,1.000000,3.0,0
6,58,1,0,114.0,318,0,2.000000,140.000000,0,4.4,0,0.752688,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,65,1,3,138.0,282,1,0.000000,174.000000,0,1.4,1,1.000000,2.0,0
1017,53,1,0,123.0,282,0,1.000000,95.000000,1,2.0,1,2.000000,3.0,0
1020,59,1,1,140.0,221,0,1.000000,164.000000,1,0.0,2,0.000000,2.0,1
1021,60,1,0,125.0,258,0,0.000000,141.000000,1,2.8,1,1.000000,3.0,0
1024,54,1,0,120.0,188,0,1.000000,113.000000,0,1.4,1,1.000000,3.0,0

In [19]:
# display the rows with cp=1 0 and target=1

df[(df["cp"]==0)&(df["target"]==1)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
5,58,0,0,100.0,248,0,0.0,122.0,0,1.0,1,0.0,2.0,1
10,71,0,0,112.0,149,0,1.0,125.0,0,1.6,1,0.0,2.0,1
21,67,0,0,106.0,223,0,1.0,142.0,0,0.3,2,2.0,2.0,1
22,45,1,0,104.0,208,0,0.0,148.0,1,3.0,1,0.0,2.0,1
37,59,1,0,138.0,271,0,0.0,182.0,0,0.0,2,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,50,0,0,110.0,254,0,0.0,159.0,0,0.0,2,0.0,2.0,1
1001,42,1,0,140.0,226,0,1.0,178.0,0,0.0,2,0.0,2.0,1
1003,52,1,0,108.0,233,1,1.0,147.0,0,0.1,2,3.0,3.0,1
1019,47,1,0,112.0,204,0,1.0,143.0,0,0.1,2,0.0,2.0,1
1023,50,0,0,110.0,254,0,0.0,159.0,0,0.0,2,0.0,2.0,1

In [20]:
# count how many patients have fasting blood sugar (fbs=1)

(df["fbs"]==1).sum()

np.int64(153)

In [21]:
# find the average cholesterol by gender

df.groupby("sex")["chol"].mean()

sex
0    261.455128
1    239.237027
Name: chol, dtype: float64

In [22]:
# find average of "thalach" by gender

df.groupby("sex")["thalach"].mean()

sex
0    150.830128
1    148.346567
Name: thalach, dtype: float64

In [23]:
#count of cp=1 and cp=0

print((df["cp"]==1).sum())
print((df["cp"]==0).sum())

167
497

In [24]:
# fIND TOP 5 PATIENTS WITH HIGHEST CJOLESTEROL("CHOL") VALUES  (outliers)
# Outliers are data points that are significantly different from the majority of other data points in a dataset.

df.nlargest(n=5,columns=["chol"]) # nlargest() finds the largest values from the dataset. 
                                  # here n=5 is the number of rows and columns=["chol"] is the coloumns whose outlier is taken

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
158,67,0,2,115.0,564,0,0.0,160.0,0,1.6,1,0.0,3.0,1
192,67,0,2,115.0,564,0,0.0,160.0,0,1.6,1,0.0,3.0,1
464,67,0,2,115.0,564,0,0.0,160.0,0,1.6,1,0.0,3.0,1
123,65,0,2,140.0,417,1,0.0,157.0,0,0.8,2,1.0,2.0,1
665,65,0,2,140.0,417,1,0.0,157.0,0,0.8,2,1.0,2.0,1

In [25]:
# create a new coloumn bp_category with values "normal" if trestbps<120 and "high" if trestbps >=120

df["bp_category"]=df["trestbps"].apply(lambda a: "Normal" if a<120 else "High")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category
0,52,1,0,125.0,212,0,0.529297,168.000000,0,1.0,2,2.0,3.0,0,High
1,53,1,0,140.0,203,1,0.000000,155.000000,1,3.1,0,0.0,3.0,0,High
2,70,1,0,145.0,174,0,1.000000,125.000000,1,2.6,0,0.0,3.0,0,High
3,61,1,0,148.0,203,0,1.000000,149.102539,0,0.0,2,1.0,3.0,0,High
4,62,0,0,138.0,294,1,1.000000,106.000000,0,1.9,1,3.0,2.0,0,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221,0,1.000000,164.000000,1,0.0,2,0.0,2.0,1,High
1021,60,1,0,125.0,258,0,0.000000,141.000000,1,2.8,1,1.0,3.0,0,High
1022,47,1,0,110.0,275,0,0.000000,118.000000,1,1.0,1,1.0,2.0,0,Normal
1023,50,0,0,110.0,254,0,0.000000,159.000000,0,0.0,2,0.0,2.0,1,Normal
1024,54,1,0,120.0,188,0,1.000000,113.000000,0,1.4,1,1.0,3.0,0,High

In [26]:
df.nunique() # returns the number of unique values in each coloumns

age             41
sex              2
cp               4
trestbps        50
chol           152
fbs              2
restecg          4
thalach         92
exang            2
oldpeak         40
slope            3
ca               6
thal             5
target           2
bp_category      2
dtype: int64

In [27]:
# Find the minimum and maximum values of the oldpeak column.

print(df["oldpeak"].min())
print(df["oldpeak"].max())

0.0
6.2

In [28]:
# Display all rows where chol is greater than 250 and age is less than 50.

df[(df["chol"] > 250) & (df["age"]<50)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category
11,43,0,0,132.0,341,1,0.0,136.0,1,3.0,1,0.0,3.0,0,High
67,42,1,0,136.0,315,0,1.0,125.0,1,1.8,1,0.0,1.0,0,High
74,48,1,0,130.0,256,1,0.0,150.0,1,0.0,2,2.0,3.0,0,High
75,47,1,2,138.0,257,0,0.0,156.0,0,0.0,2,0.0,2.0,1,High
76,48,1,2,124.0,255,1,1.0,175.0,0,0.0,2,2.0,2.0,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44,1,1,120.0,263,0,1.0,173.0,0,0.0,2,0.0,3.0,1,High
998,42,1,0,136.0,315,0,1.0,125.0,1,1.8,1,0.0,1.0,0,High
1008,42,1,1,120.0,295,0,1.0,162.0,0,0.0,2,0.0,2.0,1,High
1011,45,1,1,128.0,308,0,0.0,170.0,0,0.0,2,0.0,2.0,1,High
1022,47,1,0,110.0,275,0,0.0,118.0,1,1.0,1,1.0,2.0,0,Normal

In [29]:
# Find the median age of patients grouped by target.

df.groupby("target")["age"].median()

target
0    58.0
1    52.0
Name: age, dtype: float64

In [30]:
# Display all patients whose thalach is above the average thalach of all patients.

df[(df["thalach"]>df["thalach"].mean())]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category
0,52,1,0,125.0,212,0,0.529297,168.0,0,1.0,2,2.000000,3.0,0,High
1,53,1,0,140.0,203,1,0.000000,155.0,1,3.1,0,0.000000,3.0,0,High
12,34,0,1,118.0,210,0,1.000000,192.0,0,0.7,2,0.752688,2.0,1,Normal
14,52,1,0,128.0,204,1,1.000000,156.0,1,1.0,1,0.000000,0.0,0,High
15,34,0,1,118.0,210,0,1.000000,192.0,0,0.7,2,0.000000,2.0,1,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014,44,0,2,108.0,141,0,1.000000,175.0,0,0.6,1,0.000000,2.0,1,Normal
1016,65,1,3,138.0,282,1,0.000000,174.0,0,1.4,1,1.000000,2.0,0,High
1018,41,1,0,110.0,172,0,0.000000,158.0,0,0.0,2,0.000000,3.0,0,Normal
1020,59,1,1,140.0,221,0,1.000000,164.0,1,0.0,2,0.000000,2.0,1,High
1023,50,0,0,110.0,254,0,0.000000,159.0,0,0.0,2,0.000000,2.0,1,Normal

In [31]:
# Find total number of patients having ca value greater than 1.

(df["ca"]>1).sum()

np.int64(220)

In [32]:
# Display patients having slope = 2 and target = 1.

df[(df["slope"]==2) & (df["target"]==1)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category
12,34,0,1,118.000000,210,0,1.0,192.0,0,0.7,2,0.752688,2.000000,1,Normal
15,34,0,1,118.000000,210,0,1.0,192.0,0,0.7,2,0.000000,2.000000,1,Normal
16,51,0,2,131.603516,308,0,0.0,142.0,0,1.5,2,1.000000,2.000000,1,High
18,50,0,1,120.000000,244,0,1.0,162.0,0,1.1,2,0.000000,2.000000,1,High
19,58,1,2,140.000000,211,1,0.0,165.0,0,0.0,2,0.000000,2.324219,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,42,1,1,120.000000,295,0,1.0,162.0,0,0.0,2,0.000000,2.000000,1,High
1011,45,1,1,128.000000,308,0,0.0,170.0,0,0.0,2,0.000000,2.000000,1,High
1019,47,1,0,112.000000,204,0,1.0,143.0,0,0.1,2,0.000000,2.000000,1,Normal
1020,59,1,1,140.000000,221,0,1.0,164.0,1,0.0,2,0.000000,2.000000,1,High
1023,50,0,0,110.000000,254,0,0.0,159.0,0,0.0,2,0.000000,2.000000,1,Normal

In [33]:
# Find how many patients have oldpeak equal to 0.0.

(df["oldpeak"]==0).sum()

np.int64(329)

In [45]:
# Group the dataset by cp and find the average of trestbps and chol for each chest pain type.

# print(df.groupby("cp")["chol"].mean())

# print(df.groupby("cp")["trestbps"].mean())

df.groupby("cp")[["trestbps","chol"]].mean()

df.loc[:,["cp","trestbps","chol"]].groupby("cp").mean()

      trestbps        chol
cp
0   132.213280  249.993964
1   128.119760  244.700599
2   130.047900  242.197183
3   140.961039  237.064935

In [35]:
# Create a new column chol_status → “High” if chol > 240 else “Normal”

df["chol_status"]=df["chol"].apply(lambda a: "High" if a>240 else "Normal")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category,chol_status
0,52,1,0,125.0,212,0,0.529297,168.000000,0,1.0,2,2.0,3.0,0,High,Normal
1,53,1,0,140.0,203,1,0.000000,155.000000,1,3.1,0,0.0,3.0,0,High,Normal
2,70,1,0,145.0,174,0,1.000000,125.000000,1,2.6,0,0.0,3.0,0,High,Normal
3,61,1,0,148.0,203,0,1.000000,149.102539,0,0.0,2,1.0,3.0,0,High,Normal
4,62,0,0,138.0,294,1,1.000000,106.000000,0,1.9,1,3.0,2.0,0,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221,0,1.000000,164.000000,1,0.0,2,0.0,2.0,1,High,Normal
1021,60,1,0,125.0,258,0,0.000000,141.000000,1,2.8,1,1.0,3.0,0,High,High
1022,47,1,0,110.0,275,0,0.000000,118.000000,1,1.0,1,1.0,2.0,0,Normal,High
1023,50,0,0,110.0,254,0,0.000000,159.000000,0,0.0,2,0.0,2.0,1,Normal,High
1024,54,1,0,120.0,188,0,1.000000,113.000000,0,1.4,1,1.0,3.0,0,High,Normal

In [36]:
# Find patients having thal value = 3 and show their average age and chol


df[(df["thal"]==3)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category,chol_status
0,52,1,0,125.0,212,0,0.529297,168.000000,0,1.0,2,2.0,3.0,0,High,Normal
1,53,1,0,140.0,203,1,0.000000,155.000000,1,3.1,0,0.0,3.0,0,High,Normal
2,70,1,0,145.0,174,0,1.000000,125.000000,1,2.6,0,0.0,3.0,0,High,Normal
3,61,1,0,148.0,203,0,1.000000,149.102539,0,0.0,2,1.0,3.0,0,High,Normal
7,55,1,0,160.0,289,0,0.000000,145.000000,1,0.8,1,1.0,3.0,0,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,58,1,0,128.0,216,0,0.000000,131.000000,1,2.2,1,3.0,3.0,0,High,Normal
1017,53,1,0,123.0,282,0,1.000000,95.000000,1,2.0,1,2.0,3.0,0,High,High
1018,41,1,0,110.0,172,0,0.000000,158.000000,0,0.0,2,0.0,3.0,0,Normal,Normal
1021,60,1,0,125.0,258,0,0.000000,141.000000,1,2.8,1,1.0,3.0,0,High,High
1024,54,1,0,120.0,188,0,1.000000,113.000000,0,1.4,1,1.0,3.0,0,High,Normal

In [ ]:
# Sort the dataset by age in descending order and display top 10 records.

# df['age'].sort_values(ascending= True).head(10) # sorts only the age coloumn and gives the  the first 10 data sorted age coloumn

df.sort_values(by="age",ascending=False).head(10) # sorts the whole dataset by descending order of age and displays the first 10 data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,bp_category,chol_status
160,77,1,0,125.0,304,0,0.0,162.0,1,0.0,2,3.0,2.0,0,High,High
387,77,1,0,125.0,304,0,0.0,162.0,1,0.0,2,3.0,2.0,0,High,High
162,77,1,0,125.0,304,0,0.0,162.0,1,0.0,2,3.0,2.0,0,High,High
965,76,0,2,140.0,197,0,2.0,116.0,0,1.1,1,0.0,2.0,1,High,Normal
99,76,0,2,140.0,197,0,2.0,116.0,0,1.1,1,0.0,2.0,1,High,Normal
535,76,0,2,140.0,197,0,2.0,116.0,0,1.1,1,0.0,2.0,1,High,Normal
724,74,0,1,120.0,269,0,0.0,121.0,1,0.2,2,1.0,2.0,1,High,High
313,74,0,1,120.0,269,0,0.0,121.0,1,0.2,2,1.0,2.0,1,High,High
590,74,0,1,120.0,269,0,0.0,121.0,1,0.2,2,1.0,2.0,1,High,High
605,71,0,2,110.0,265,1,0.0,130.0,0,0.0,2,1.0,2.0,1,Normal,High